* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.navbar h1 {
    margin-left: 2rem;
    font-size: 2rem;
    display: inline;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.intro {
    text-align: center;
    padding: 50px;
}

.intro-text {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.stat {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat h3 {
    font-size: 2rem;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px
}
